@font-face {
    font-family: 'league_spartanbold';
    src: url('leaguespartan-bold-webfont.woff2') format('woff2'),
         url('leaguespartan-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body{
  background-image: url('../img/Backgroundwhite.jpg');
  background-size: 100%;
  font-family: 'league_spartanbold';
}
nav,.sidenav,.dropdown-content,.tabb ul, .modal , .modal .modal-footer , .page-footer{
  background-color: white !important;
}
nav ul a , .page-footer ul a,h5,h6{
  color: #262a2d !important;
}
.showcase {
  background-image: url('../img/indnorm.png');
  background-position: center;
  background-repeat: no-repeat;
  height: 800px;
}
p{
  color: #262a2d;
  text-align: center;
  font-size: 30px;
}
h1,h2,h3,h4{
  color: #262a2d;
  text-align: center;
}
.jeu{
  justify-content: center;
  align-items: center;
}

img{
  width: 40%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.etoiles{
  width: 30%;
  margin-left: 0;
  margin-right: 0;

}
.reviews .col{
  color: #262a2d;
  background-color: rgba(0, 0, 0, .1);
  border-radius: 30px;
}
.col .col{
    background-color: rgba(163, 242, 53, .0);
}
.profile{
  width:10%;
}
.but {
text-align: center;
}
.but button, .but a, .but p{
  color: white;
}
.tabs .tab a{
    color:#000;
}
.tabs .tab a:hover, .tabs .tab a.active,.tabs .tab a:focus.active , .tabs .tab a:focus {
    background-color:#181a1c;
    color: #434592;
} /*Text color on hover*/
.tabs .indicator {
    background-color:#434592;
}
.forza{
  height: 600px!important;
}
.castagne{
  height: 700px!important;
}
.pions{
  height: 400px!important;
}
.carousel img{
   width: 40%;
}
.input-field input:focus + label ,   .input-field textarea:focus + label ,nav a:hover,.sidenav a.projet , nav ul a.dropdown-trigger{
    color: #434592 !important;
}
  .row .input-field input:focus ,  .row .input-field textarea:focus {
    border-bottom: 1px solid #434592 !important;
    box-shadow: 0 1px 0 0 #434592 !important;
  }
  .input-field input,.input-field textarea , .modal-footer a , .sidenav .nonprojet, .dropdown-content li a{
    color : #262a2d;
  }
  .page-footer ul li a{
    color:#262a2d;
  }
.footer-copyright {
  background-color: white !important;
  color : black !important;
}
